{% extends "badpress/header.html" %}

{% block content %}

<div class="container" style="min-height: 100%;float: none; margin: 0 auto;">

	<div class="jumbotron">
	{% if article %}
		{% if candidate %}
		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-info"  class="white"  style="font-size: 18px; background:  #673ab7">
						<center><font color="white"><strong>{{ article.candidate }}</strong></font> </center>
					</a>
					<div class="list-group-item "><center> <img src="{{ candidate.URL_photo }}" width="150" height="150" alt="candidate-picture" align="center"  data-toggle="tooltip" data-placement="left" title=" Candidate Picture" style="margin-bottom: 3px; margin-top: 3px; "></center>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<h2>{{ article.candidate }} on {{ article.issue }}</h2>
				<h3>Media: {{ article.source }}</h3>
				<h3>Title: {{ article.title }}</h3>
				<h3>Dated: {{ article.date }}</h3>
				<a href="{{ article.link }}":><h3>Link</h3></a>
				<script src="../../static/js/radialprogress.js"></script>
				<div id="keepFormat" style="float: right;">
					<div id = "score" style="display:inline-block; float:right; padding-bottom: 20px; padding-right: 20px;"></div>
					<h2 style="text-align:center; padding-right: 20px;"> Match Score </h2>
				</div>
				<script>
					var bar=new RadialProgress(document.getElementById("score"),{indeterminate:false,colorFg:"#1565d6",colorText:"#202020",thick:7,fixedTextSize:0.3});
					bar.setValue(.7);
				</script>

			</div>
		</div>
		{% endif %}
	{% endif %}
	</div>

 <div class="container" style="min-height: 100%;float: none; margin: 0 auto;">

 <div class="jumbotron">
    <div class="row">
	      <div class="col-md-3">

		    <div class="list-group">
		    <a href="#" class="list-group-item list-group-item-info"  class="white"  style="font-size: 18px; background:  #673ab7">
          <center><font color="white"><strong> TED CRUZ</strong></font> </center>
          	</a>
		      <div class="list-group-item "><center> <img src="http://media4.s-nbcnews.com/j/newscms/2016_04/1396306/ted-cruz-mug_5fea106e0eb494469a75e60d8f2b18ea.nbcnews-fp-320-320.jpeg" width="150" height="150" alt="candidate-picture" align="center"  data-toggle="tooltip" data-placement="left" title=" Candidate Picture" style="margin-bottom: 3px; margin-top: 3px; "></center>
		      </div>
		    </div>
	      </div>
	      <div class="col-md-9">
	      	<h2>TED CRUZ on GUN LAWS</h2>
	      	<h3>Media: CNN</h3>
	      	<h3>Title: Ted Cruz's no-compromise stance on guns </h3>
	      	<h3>Dated: March 10, 2016</h3>
	      	<a href="https://www.cnn.com/2016/03/10/politics/ted-cruz-guns/index.html":><h3>Link</h3></a>
		  <script src="../../static/js/radialprogress.js"></script>
<div id="keepFormat" style="float: right;">
    <div id = "score" style="display:inline-block; float:right; padding-bottom: 20px; padding-right: 20px;"></div>
    <h2 style="text-align:center; padding-right: 20px;"> Match Score </h2>
</div>
    <script>
    	var bar=new RadialProgress(document.getElementById("score"),{indeterminate:false,colorFg:"#1565d6",colorText:"#202020",thick:7,fixedTextSize:0.3});
    		bar.setValue(.7);
	</script>

	      		</div>
	      </div>
	 </div>

</div>


<div class="container"  style="min-height: 100%; float: none; margin: 0 auto;">

{% if article %}
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-12">

				<img src="{{ source.URL_logo }}" style="width:220px;height:220px; display:inline-block; float:left; padding: 20px;" alt="newspaper_logo">
				<h2>Article Summary</h2>
				<p>{{ article.summary }}</p>

			</div>
		</div>
	</div>
{% endif %}


 <div class="jumbotron">
    <div class="row">
    	  <div class="col-md-12">

			   <img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Cnn_logo_red_background.png" class="rounded-circle" style="width:220px;height:220px; display:inline-block; float:left; padding: 20px;" alt="Cnn Logo">
		        <h2>Article Summary</h2>
		         <p>
Washington (CNN)
				</p>
				<p>
"Everyone is going to say they support the Second Amendment -- unless you are clinically insane that's what you say in a primary," Cruz said during a January GOP Fox Business Network debate in South Carolina.
				</p>
				<p>
Ted Cruz: Obama wants your guns  Ted Cruz: Obama wants your guns 01:37 "There's a reason when Barack Obama and Chuck Schumer came after our right to keep and bear arms, that I led the opposition," Cruz said in the debate.
				</p>
				<p>
"You don't stop bad guys by taking away our guns, you stop bad guys by using our guns," Cruz said during a rally where he announced the formation of his national Second Amendment Coalition.
				</p>
				<p>
Congressman Steve King, another fierce Second Amendment advocate who hosted Cruz on a pheasant hunt last year and campaigned with him in Iowa, said Cruz won GOA's endorsement because he shares their understanding of the Second Amendment as a guard against tyranny.
				</p>
				<p>
Macy, the chairman of the board of GOA, said the group is "very uncomfortable" with Trump's positions historically on the Second Amendment, including his one-time support for an assault weapons ban. "Ted Cruz will help shoulder the burden of fighting against the gun grabbers dedicated to eviscerating the Second Amendment," Macy, the Chairman of GOA said in a statement.				</p>

			</div>
	 </div>
</div>








{% endblock %}
