{% extends "badpress/header.html" %}

{% block content %}



     
 <div class="container"  style="min-height: 100%;float: none; margin: 0 auto; padding-top: 60px">

 <div class="jumbotron">
    <div class="row">
	      <div class="col-md-9">
		        <h2>TED CRUZ</h2>
		         <p><strong> Issue: Gun Law </strong></p>
	

	      </div>


	      <div class="col-md-3">
			      
		    <div class="list-group">
		      <a href="#" class="list-group-item list-group-item-info"  class="white"  style="font-size: 18px; background:  #673ab7    ">
		      <center><font color="white"><strong> TEXAS</strong></font> </center>  
		      </a>
		      <div class="list-group-item "><center> <img src="http://media4.s-nbcnews.com/j/newscms/2016_04/1396306/ted-cruz-mug_5fea106e0eb494469a75e60d8f2b18ea.nbcnews-fp-320-320.jpeg" width="150" height="150" alt="candidate-picture" align="center"  data-toggle="tooltip" data-placement="left" title=" Candidate Picture" style="margin-bottom: 3px; margin-top: 3px; "></center>
		      </div>
		    </div>
			    
	      </div>
	 </div>
</div>



 <div class="jumbotron">
    <div class="row">

		        <h2>Article's Summary</h2>
		        <p>


Washington (CNN)The Democrat who will face off against Texas Sen. Ted Cruz in the Texas Senate race later this year is defending his position on gun control in a state that highly values its Second Amendment rights.
"I think a lot of Texans are wondering who it is that Ted Cruz represents in the Senate. He's taken hundreds of thousands of dollars from the (National Rifle Association)," Rep. Beto O'Rourke said of Cruz in an interview Wednesday with CNN's Alisyn Camerota on "New Day."
"We have a great tradition and culture of gun ownership and gun safety for hunting, for sport, for self-defense," O'Rourke said. "I think that can allow Texas to take the lead on a really tough issue, which the country is waiting for leadership and action on."
With primary ending, Cruz takes opening shot at Beto O&#39;Rourke&#39;s name
With primary ending, Cruz takes opening shot at Beto O'Rourke's name
When asked if he thinks his gun stances may cost him the election, O'Rourke said, "I've got to face my kids and my conscience and do the right thing when we have the opportunity to do the right thing."

Cruz argued in an interview on "New Day" earlier Wednesday that O'Rourke cannot win in Texas with his pro-gun control stances.
"He's embracing positions like aggressive advocacy of gun control and undermining our Second Amendment," Cruz argued. "Now, those are wonderfully popular positions if you're running for the Senate in New York or Massachusetts or California. But this is Texas. Those are not the views of the vast majority of Texans."


 </p>




	 </div>
</div>



{% endblock %}