{% extends "badpress/header.html" %}

{% block content %}



 <div class="container"  style="min-height: 100%;float: none; margin: 0 auto; padding-top: 60px">

 <div class="jumbotron">
    <div class="row">
	      <div class="col-md-9">
		        <h2>TED CRUZ</h2>
		        <p><strong> Personal Details </strong></p>


                 <br>

		        <p><strong> Date of Birth: </strong></p>

		        <p><strong> Education: </strong></p>
		        <p><strong> Political Party: </strong></p>

	      </div>


	      <div class="col-md-3">
			      
		    <div class="list-group">
		      <a href="#" class="list-group-item list-group-item-info"  class="white"  style="font-size: 18px; background:  #673ab7    ">
		      <center><font color="white"><strong> TEXAS</strong></font> </center>  
		      </a>
		      <div class="list-group-item "><center> <img src="http://media4.s-nbcnews.com/j/newscms/2016_04/1396306/ted-cruz-mug_5fea106e0eb494469a75e60d8f2b18ea.nbcnews-fp-320-320.jpeg" width="150" height="150" alt="candidate-picture" align="center"  data-toggle="tooltip" data-placement="left" title=" Candidate Picture" style="margin-bottom: 3px; margin-top: 3px; "></center>
		      </div>
		    </div>
			    
	      </div>
	 </div>
</div>

	 <div class="row">
	    <div class="col-md-6">
	     <div class="jumbotron">
            <h2>Office</h2>
            <h2>ISSUES</h2>
             <h2>Issue1</h2>
            <a href="/issue" class="btn btn-default">Link to Articles' about Issue1</a>

         </div>
	    </div>

	    <div class="col-md-6">
	         <div class="jumbotron">
            <h2>POPULARITY</h2>
         </div>
	    </div>

	 </div>


	 	 <div class="row">
	    <div class="col-md-12">
	     <div class="jumbotron">
            <h2>Latest Article</h2>
            <a href="/article" class="btn btn-default">Link to Article</a>
         </div>
	    </div>



	 </div>


</div>


	






{% endblock %}