{% extends "badpress/header.html" %}

{% block content %}
    <link href="static/css/style.css" rel="stylesheet">


 <div class="container"  style="min-height: 100%;float: none; margin: 0 auto; padding-top: 60px">

 <div class="jumbotron">
    <div class="row">
	      <div class="col-md-9">
		        <h2>TED CRUZ</h2>
		        <p><strong> Personal Details </strong></p>


                 <br>

		        <p><strong> Date of Birth: </strong></p>

		        <p><strong> Education: </strong></p>
		        <p><strong> Political Party: </strong></p>

	      </div>


	      <div class="col-md-3">
			      
		    <div class="list-group">
		      <a href="#" class="list-group-item list-group-item-info"  class="white"  style="font-size: 18px; background:  #673ab7    ">
		      <center><font color="white"><strong> TEXAS</strong></font> </center>  
		      </a>
		      <div class="list-group-item "><center> <img src="http://media4.s-nbcnews.com/j/newscms/2016_04/1396306/ted-cruz-mug_5fea106e0eb494469a75e60d8f2b18ea.nbcnews-fp-320-320.jpeg" width="150" height="150" alt="candidate-picture" align="center"  data-toggle="tooltip" data-placement="left" title=" Candidate Picture" style="margin-bottom: 3px; margin-top: 3px; "></center>
		      </div>
		    </div>
			    
	      </div>
	 </div>
</div>

	 <div class="row">
	    <div class="col-md-6">
	     <div class="jumbotron">
            <h2>Office</h2>
            <h2>ISSUES</h2>
             <div id="keyIssues"></div>
             <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script>
      //replace with json
        var data = [
          {"name": "Gun Control",
            "value": 80,
            },
          {"name": "Education",
            "value": 66,
            },
          {"name": "Health Care",
            "value": 72,
            },
          {"name": "Immigration",
            "value": 28,
            },
          { "name": "Environment",
            "value": 55,
            }
        ];

        //change to try out different margins
        var margin = {
            top: 75,
            right: 20,
            bottom: 20,
            left: 90 //padding left for data names
        };

        //size of bars
        var width = 560 - margin.left - margin.right,
            height = 300 - margin.top - margin.bottom;

        var svg = d3.select("#keyIssues").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var x = d3.scale.linear()
            .range([0, width])
            .domain([0, d3.max(data, function (d) {
                return d.value;
            })]);

        var y = d3.scale.ordinal()
            .rangeRoundBands([height, 0], .1)
            .domain(data.map(function (d) {
                return d.name;
            }));

        //make y axis to show bar names
        var yAxis = d3.svg.axis()
            .scale(y)
            //no tick marks
            .tickSize(0)
            .orient("left");

        var gy = svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)

        var bars = svg.selectAll(".bar")
            .data(data)
            .enter()
            .append("g")

        //append rects
        bars.append("rect")
            .attr("class", "bar")
            .attr("y", function (d) {
                return y(d.name);
            })
            .attr("height", y.rangeBand())
            .attr("x", 0)
            .attr("width", function (d) {
                return x(d.value);
            });
    </script>
            <a href="/issue" class="btn btn-default">Link to Articles' about Issue1</a>

         </div>
	    </div>

	    <div class="col-md-6">
	         <div class="jumbotron">
            <h2>POPULARITY</h2>
         </div>
	    </div>

	 </div>


	 	 <div class="row">
	    <div class="col-md-12">
	     <div class="jumbotron">
            <h2>Latest Article</h2>
            <a href="/article" class="btn btn-default">Link to Article</a>
         </div>
	    </div>



	 </div>


</div>


	






{% endblock %}