{% extends "badpress/header.html" %}

{% block content %}


<div class="container"  style="min-height: 100%;float: none; margin: 0 auto; padding-top: 60px">
	<div class="container">
		<div class="row"> 
			<div class="col-md-9">
				<img src="http://wallpaper-gallery.net/images/texas-wallpapers/texas-wallpapers-8.jpg" alt="Houston" style="opacity: 0.6;width: 1100px; height: 280px;">
				<h1>{{ state }} </h1>
				<br>
				<div class="bottom-left">
					{% if candidate_list %}
						<!--{% for candidate in candidate_list %}
							{% if candidate.state|stringformat:"s" == 'Texas' %}
								{{ forloop.counter }}
							{% endif %}
						{% endfor %}-->
						<p><strong>  Number of candidates: {{ candidate_list|length }}</strong>  </p>
						{% if state_names %}
							{% for a_state in state_names %}
								{% if a_state.name|stringformat:"s" == 'Texas' %}
									<p><strong>  Primary Election Day: {{ a_state.primaries_date }} </strong> </p>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endif %}
					<!--<p><strong>  Number of candidates: {{ number_candidates }}</strong>  </p>
					<p><strong>  Primary Election Day: {{ date }} </strong> </p>-->
				</div>
			</div>	
			<div class="col-md-3">
				{% if state_names %}
					{% for a_state in state_names %}
						{% if a_state.name|stringformat:"s" == 'Texas' %}
							<img src={{a_state.URL_logo}} class="img-fluid z-depth-1" alt="Responsive image">
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>			  
		</div>
	</div>
<br>
<br>
<div class="row">					 
	{% if candidate_list %}
		{% for candidate in candidate_list %}
			{% if candidate.state|stringformat:"s" == 'Texas' %}
				<div class="col-6">
					<div class="card">
						{% if candidate.party == "Republican" %}
						<h3 class="card-header danger-color white-text">Republican</h3>
						{% endif %}
						{% if candidate.party == "Democrat" %}
						<h3 class="card-header primary-color white-text">Democrat</h3>
						{% endif %}
						{% if candidate.party == "Independent" %}
						<h3 class="card-header warning-color white-text">Independent</h3>
						{% endif %}
						<div class="card-body">
							<div class="row">
								<div class="col-9">
									<h4 class="card-title">{{ candidate.first_name }} {{ candidate.last_name }}</h4>
									<p class="card-text">{{candidate.position}}</p>
									<a class="btn btn-outline-primary" href="{% url 'candidate' %}">View Profile</a>
								</div>
								<div class="col-3">
									<img src={{candidate.URL_photo}} align="right" title=" Candidate Picture" height="140" width="120" style="margin-bottom: 1px; margin-top: 1px; ">
								</div>
							</div>
						</div>
					</div> 
					<br>
					<br>
				</div>
			{% endif %} 
		{% endfor %}
	{% endif %}  
</div>  
{% endblock %}
