{% extends "badpress/header.html" %}

{% block content %}

				<h2 style="text-align:center;">"The Ballot is Stronger than the Bullet. "</h2>
				<p style="text-align: center; padding-left: 100px;">-ABRAHAM LINCOLN, speech, May 19, 1856</p>

				<div class="row">
					<div class="col-lg-6 mx-auto">
						 <a class="btn btn-outline-primary keepFormat" href="{% url 'stateresults' %}" style="float:right;">View Texas</a>
						 <a class="btn btn-outline-primary keepFormat" href="{% url 'candidate' id=1 %}" style="float:right;">View Candidate</a>
						 <h2 style="text-align: center; padding-right: 500px;">Select your State:</h2>
					</div>
				</div>
		<br>

	 {% load static %}

	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>


	<div class="row">
	<div class="span6" style="float: none; margin: 0 auto;">


				<div class="row">
					<div class="col-lg-6 mx-auto">
						 <a class="btn btn-outline-primary keepFormat" href="{% url 'stateresults' %}" style="float:right;">View Texas</a>
						 <a class="btn btn-outline-primary keepFormat" href="{% url 'candidate' %}" style="float:right;">View Candidate</a>
						 <h2 style="text-align: center; padding-right: 500px;">Select your State:</h2>
					</div>
				</div>
		<br>

	 {% load static %}

	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>


	<div class="row">
	<div class="span6" style="float: none; margin: 0 auto;">

	<section id="map">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
						<form>
						<input type="text" name="search" placeholder="Name..">
						</form>
				</div>
			</div>
		</div>
	</section>
					<div id="usMap">
	</div>
 

		<script type="text/javascript">
		var width = 950,
		height = 550;
		
		var svg = d3.select('#usMap').append('svg')
		.attr('width', width)
		.attr('height', height);
				
		var projection = d3.geo.albersUsa()
		.scale(1000) 
		.translate([width / 2, height / 2]);
		
		var path = d3.geo.path()
		.projection(projection);
		
		d3.json('https://raw.githubusercontent.com/mslovett21/Bad_Press/master/BadPressWebsite/BPW/badpress/templates/badpress/us.json', function(error, us) {
		svg.selectAll('.states')
		.data(topojson.feature(us, us.objects.usStates).features)
		.enter()
		.append("a")
		.attr("xlink:href", function(d) {return "{% url 'stateresults' %}" + d.properties.STATE_ABBR})
		.append('path')
		.attr('class', 'states')
		.attr('d', path)
		.style("fill", function(d) {
		return d.properties.COLOR
		})});
	</script>
	
		
		
</div>
 
		 </div>
		</div>
			</div>
	</section>

		<section id="services" class="bg-light">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 mx-auto">
						<h2>Services we offer</h2>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
					</div>
				</div>
			</div>
		</section>



{% endblock %}