{% extends "badpress/header.html" %}

{% block content %}



<div class="container-fluid">
<div class="row">
  <div class="span6" style="float: none; margin: 0 auto; padding-top: 60px">
  <p> Our Website Our Mission </p>
  </div>
</div>
	 <div class="row">
	  <div class="span6" style="float: none; margin: 0 auto; padding-top: 60px">
	  <form class="form-inline">
	    <input class="form-control mr-sm-2" type="search" placeholder="Type Politician's Name" aria-label="Search">
	    <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
	  </form>
	  </div>
</div>

<div class="row">
	<div class="span6" style="float: none; margin: 0 auto; padding-top: 60px">
		<h2>Election Map</h2>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://d3js.org/topojson.v1.min.js"></script>
	
	<script src="js/usMap.js"></script>
</div>


{% endblock %}