{% extends "badpress/header.html" %}

{% block content %}



     

 <div class="container"  style="min-height: 100%;float: none; margin: 0 auto; padding-top: 60px">

 <div class="jumbotron">
		<div class="row">
					  <div class="span6" style="float: none; margin: 0 auto; padding-top: 60px">
					    <p> All Articles about Given Candidate Regardin Given Issue</p>
					  </div>
		</div>
</div>
 <div class="jumbotron">
		<div class="row">			 
  			<a href="/article" class="btn btn-default">Article1</a>
		</div>
</div>
</div>



{% endblock %}