{% extends "badpress/header.html" %}

{% block content %}



     

 <div class="container"  style="min-height: 100%;float: none; margin: 0 auto; padding-top: 60px">

 <div class="jumbotron">
		<div class="row">
					  <div class="span6" style="float: none; margin: 0 auto; padding-top: 60px">
					  <p> All Candidates for Given States </p>
					  </div>
		</div>
</div>
 <div class="jumbotron">
		<div class="row">
					 

		<a href="/candidate" class="btn btn-default">Result1</a>  <p>Result2</p>
		</div>
</div>
</div>



{% endblock %}