/* Your custom styles */

/*Change default highlight on text selection, add [tag] in front to specify*/
::selection {
  background: darkorchid;
  color: white;
}

/*padding for nav bar, misc text formating*/
body { 
    padding-top: 75px;
}

p {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}


/*background image, stretches to screen, blurs*/
#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content.*/
    filter:blur(10px);
}

.stretch {
    width:100%;
    height:100%;
}

/*heading styles*/
h3 {
  font-style: italic;
}


/*nails nav bar to top*/
#info {
  position:absolute;
  top: 10px;
  left: 10px;
}

/*nails elements*/
#keepFormat {
position:absolute;
right:0;
top:0;
}


/*container styles*/
.jumbotron{
margin-top: 15px;
padding: 20px;
color: black;
background-color: #efeff5;
}

svg {
  background: white;
}

.topBox {
  padding: 20px;
}

/*US map */
.states {
	fill: darkorchid;
	stroke: #fff;
	stroke-width:2px;
}
.states:hover {
	fill-opacity: .7;
}

/*search bar*/
input[type=text] {
    width: 100%;
    border: 2px solid grey;
    font-size: 16px;
    background-color: white;
    background-image: url("search-icon.png");
    background-position: left; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

/*tooltip*/
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 100px;                  
  height: 28px;                 
  padding: 5px;             
  font-size: 12px;        
  background: gold;   
  border-radius: 8px;           
  pointer-events: none;         
}

/*bar graph stylings*/
#bars {
  background-color: white;
}

.innerBar{
  height: 24px;
  width: 0%;
}

.innerBar:hover {
    opacity: .7;
  }

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

/*redeclare font tags*/
strong {
  font-weight: bold;
}

em {
  font-weight: italic;
}

/*Test styles; center container that stretches to bottom, underline styles*/
#containCenter {
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 100vh;
    background: white;
}

.underline {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

#animatedU {
  text-decoration: none;
  position: relative;
  color: black;
}

#animatedU:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid red;
  transition: 0.4s;
}

#animatedU:hover:after {
  width:100%;
}

/*on load css, fade in effects*/
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;
}

.fade-in.point4 {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4;
}

.fade-in.point8 {
-webkit-animation-delay: 0.6s;
-moz-animation-delay: 0.6s;
animation-delay: 0.6;
}

.fade-in.onepoint2 {
-webkit-animation-delay: 1.2s;
-moz-animation-delay: 1.2s;
animation-delay: 1.2;
}

/*Newsfeed Styles*/
.panel
{
    padding:0px;
    margin:0px;
    border-radius: 20px;
    list-style:none; 
    color: black;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555; 
}

.news-item:hover {
    border-left: 5px solid red;
}

