/* Your custom styles */

/*padding for nav bar*/
body { 
    padding-top: 75px;
}

/*backgorund image stylings, stretches to screen, blurs*/
#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content.*/
    filter:blur(10px);
}

.stretch {
    width:100%;
    height:100%;
}

/*heading styles*/
h3 {
  font-style: italic;
}

/*nails nav bar to top*/
#info {
  position:absolute;
  top: 10px;
  left: 10px;
}

/*nails elements*/
#keepFormat {
position:absolute;
right:0;
top:0;
}


/*container styles*/
.jumbotron{
margin-top: 15px;
padding: 27px;
color: black;
background-color: #efeff5;
}


svg {
  background: white;
}

/*US map */
.states {
	fill: darkorchid;
	stroke: #fff;
	stroke-width:2px;
}
.states:hover {
	fill-opacity: .7;
}

/*search bar*/
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}


/*bar graph stylings*/
#bars {
  background-color: white;
}

.innerBar{
  height: 24px;
  width: 0%;
}

.innerBar:hover {
    opacity: .7;
  }

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}



